footer {
    display: flex;
    background-color: #555d2a;
    margin-top: 8vh;
    padding: 1.5vw;
    align-items: center;
    justify-content: space-between;
   
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    text-align: center;
    margin-left: 6vw;
}

.textos h4, .textos p {
    color: #120907;
    margin-bottom: 1.5vh;
}

footer nav {
    display: flex;
    flex-direction: column;
    line-height: 3.8vh;
    margin-right: 13vw;
}

footer nav a {
    text-decoration: none;
    color: #120907;
    font-size: 1.2rem;

}

footer nav a:hover {
    color: #dcd469;
}


