.aprovado2 {
    margin: 6vh 30vw;
    border: 6px solid aqua;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    line-height: 40px;
    background-color: blue;
}
.aprovado2 h1, .aprovado2 h3, .aprovado2 p {
    color: aqua;
}
.aprovado2 h2 {
    color: white;
    font-size: 40px;
}

.reprovado2 {
    margin: 6vh 30vw;
    border: 6px solid pink;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    line-height: 40px;
    background-color: red;
}
.reprovado2 h1, .reprovado2 h3, .reprovado2 p {
    color: pink;
}
.reprovado2 h2 {
    color: white;
    font-size: 40px;
}

