.mensagem-titulo {
    color: brown;
    text-align: center;
}

.paragrafo {
    font-style: italic;
}

.mensagem-corpo {
    background-color: whitesmoke;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 8px;
    width: 300px;
    margin: auto;
    margin-bottom: 24px;
}

img {
    border-radius: 8px;
}
