* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dcd469;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}


/*
.color1 {color: #120907;}
.color2 {color: #292f0e;}
.color3 {color: #555d2a;}
.color4 {color: #959646;}
.color5 {color: #dcd469;}
*/